.shopping-cart{
    .box-container{
        @include grid(31rem);
        .box{
            padding: 2rem;
            border: $border;
            background: white;
            border-radius: .5rem;
            box-shadow: $box-shadow;
            display: flex;
            align-items: center;
            gap: .5rem;
            position: relative;

            .fa-times{
                position: absolute;
                top: 1rem;
                right: 1.5rem;
                font-size: 2.5rem;
                color: $light-color;
                cursor: pointer;
                &:hover{
                    color: $black;
                }
            }
            img{
                height: 12rem;
            }
            .content{
                h3{
                    font-size: 1.7rem;
                    color: $black;
                }
                form{
                    padding: 1rem 0;
                    display: flex;
                    gap: .5rem;
                    align-items: center;
                }
                span{
                    font-size: 1.5rem;
                    color: $light-color;
                }
                input{
                    width: 7rem;
                    padding: 0.5rem;
                    color: $light-color;
                    border-radius: .5rem;
                    background: $light-bg;
                    font-size: 1.5rem;
                }
            }
            .price{
                font-size: 2rem;
                color: $blue;

                span{
                    font-size: 1.5rem;
                    color: $light-color;
                    text-decoration: line-through;
                }
            }
        }
    }

    .cart-total{
        margin-top: 2rem;
        background: white;
        box-shadow: $box-shadow;
        padding: 2rem;
        padding-top: 1rem;
        border: $border;
        box-shadow: .5rem;
        border-radius: .5rem;

        h3{
            padding-top: 1rem;
            font-size: 2rem;
            color: $black;
            span{
                color: red;
            }
        }
    }
}