$blue: #0984e3;
$black: #333;
$gold: gold;
$light-color: #666;
$light-bg: #eee;
$border: .2rem solid $black;
$box-shadow: 0 .5rem 1rem rbga(0,0,0,.2);

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 2rem;
}

html{
    overflow-x: hidden;
    font-size: 62.5%;
}